<!--<div class="modal-header" *ngIf="status == 'sick'">-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'deletePeople'">Xóa người bệnh này khỏi danh sách ?</h4>-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'deleteAllPeople'">Xóa tất cả những người được chọn khỏi danh-->
<!--    sách ?</h4>-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'moveCuredPeople'">Đánh dấu người bệnh này đã được điều trị khỏi-->
<!--    ?</h4>-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'moveCuredAllPeople'">Đánh dấu những người bệnh này đã được điều-->
<!--    trị khỏi ?</h4>-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'moveDiedPeople'">Đánh dấu người bệnh này đã chết ?</h4>-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'moveDiedAllPeople'">Đánh dấu những người bệnh này đã chết ?</h4>-->

<!--  <h4 class="modal-title" *ngIf="optionChoice == 'moveF1People'">Chuyển người này sang khu cách ly ?</h4>-->
<!--  <h4 class="modal-title" *ngIf="optionChoice == 'moveF1AllPeople'">Chuyển những người này sang khu cách ly ?</h4>-->
<!--</div>-->
