<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <strong>Điền thông tin</strong>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <label class="switch switch-lg switch-label switch-outline-primary-alt">
                <input type="checkbox" class="switch-input" (click)="checkForm()" checked>
                <span class="switch-slider" data-checked="Bị bệnh" data-unchecked="Cách ly"></span>
              </label>
            </div>
          </div>
        </div>
        <form [formGroup]="peopleForm" enctype="multipart/form-data" (ngSubmit)="createPerson()"
              class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="name-input">Tên<span class="span-required">*</span></label>
              <div class="col-md-9">
                <input type="text" [formControlName]="'name'" id="name-input" name="name" class="form-control "
                       placeholder="Nhập tên">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="age-input">Ngày sinh<span class="span-required">*</span></label>
              <div class="col-md-9">
                <input type="date" id="age-input" [formControlName]="'age'" name="age" class="form-control "
                       placeholder="Nhập ngày sinh">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label">Giới tính<span class="span-required">*</span></label>
              <div class="col-md-9">
                <div class="radio">
                  <input id="radio-1" [formControlName]="'gender'" [value]="true" type="radio" name="gender">
                  <label for="radio-1" class="radio-label">Nam </label>
                  <input id="radio-2" [formControlName]="'gender'" [value]="false" type="radio" name="gender">
                  <label for="radio-2" class="radio-label">Nữ</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="phone-input">Số điện thoại<span class="span-required">*</span></label>
              <div class="col-md-9">
                <input type="text" id="phone-input" (change)="checkPhoneNumber()" formControlName="phone"
                       name="phone" class="form-control "
                       [ngClass]="checkPhoneNumber() ? 'is-invalid' : ''"
                       placeholder="Nhập số điện thoại">
                <div class="invalid-feedback" *ngIf="checkPhoneNumber()">
                  Nhập sai số điện thoại !!!
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="phone-input">CMT/CCCD</label>
              <div class="col-md-9">
                <input type="text" id="cmt-input" formControlName="cmt"
                       name="cmt" class="form-control "
                       placeholder="Nhập CMT hoặc CCCD">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label">Địa chỉ<span class="span-required">*</span></label>
              <div class="col-md-3">
                <select id="province" (change)="getAllDistrictByProvinceId($event.target.value)" [formControlName]="'province'" name="province" class="form-control">
                  <option selected [value]="0">Tỉnh</option>
                  <option *ngFor="let city of listProvince" value="{{city.provinceId}}">{{city.provinceName}}</option>

                </select>
              </div>

              <div class="col-md-3">
                <select id="district" (change)="getAllCommuneByDistrictId($event.target.value)" name="district" [formControlName]="'district'" class="form-control">
                  <option selected [value]="0">Huyện</option>
                  <option *ngFor="let district of listDistrict" value="{{district.districtId}}">{{district.districtName}}</option>
                </select>
              </div>
              <div class="col-md-3">
                <select id="commune" name="commune" [formControlName]="'commune'" class="form-control">
                  <option selected [value]="0">Xã</option>
                  <option *ngFor="let commune of listCommune" value="{{commune.communeId}}">{{commune.communeName}}</option>

                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="textarea-input">Lịch trình di chuyển</label>
              <div class="col-md-9">
                <textarea id="textarea-input" [formControlName]="'schedule'" name="schedule" rows="9"
                          class="form-control"
                          placeholder="Content..."></textarea>
              </div>
            </div>
            <div class="form-group row" *ngIf="isCheckForm">
              <label class="col-md-1 col-form-label">Loại<span class="span-required">*</span></label>
              <div class="col-md-9">
                <div class="radio">
                  <input type="radio" [formControlName]="'loai'" (click)="checkLoai()" id="radio-12" [value]="true"
                         name="loai">
                  <label for="radio-12" class="radio-label">Lây nhiễm trong nước </label><br>
                  <input type="radio" [formControlName]="'loai'" (click)="checkLoai()" [value]="false" id="radio-22"
                         name="loai">
                  <label for="radio-22" class="radio-label">Nhập cảnh</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" [ngStyle]="{'cursor': peopleForm.invalid? 'no-drop' : 'pointer'}"
                    [disabled]="peopleForm.invalid" class="btn btn-sm btn-primary"><i
              class="fa fa-dot-circle-o"></i> Cập nhật
            </button>
            <button type="reset" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Đặt lại
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
