<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-1 filter-icon">
                  <i class="fa fa-filter fa-lg mt-4" [ngStyle]="{ 'float': 'right', 'cursor': 'pointer'}"
                    tooltip="Tìm kiếm." placement="top" (click)="isCollapsed = !isCollapsed"></i>
                </div>
                <div class="col-md-11" *ngIf=" listIdPeopleCheckbox.length > 0"
                  [ngStyle]="{'margin-top': '13px', 'height':'0px'}">
                  <div class="row" [ngStyle]="{ 'line-height': '18px'}">
                    <div class="col-md-1 action-all-people">
                      <div class="icon-option-checkBox" (click)="OptionPeopleModal.show()">
                        <i class="fas fa-trash-alt fa-lg" tooltip="Xóa" (click)="setOptionChoice('deleteAllPeople')"
                          placement="top"></i>
                      </div>
                    </div>
                    <div class="col-md-9 choose-group" [ngStyle]="{'margin-left': '8px'}">
                      <div class="icon-option-checkBox" *ngIf="status == 'f1' || status == 'cured'"
                        (click)="OptionPeopleModal.show()">
                        <i class="fas fa-head-side-cough fa-lg" (click)="setOptionChoice('moveSickAllPeople')"
                          tooltip="Đánh dấu bị bệnh" placement="top" [ngStyle]="{'color': '#fe2e2e'}"></i>
                      </div>
                      <div class="icon-option-checkBox" *ngIf="status == 'sick'" (click)="OptionPeopleModal.show()">
                        <i class="fas fa-user-shield fa-lg" (click)="setOptionChoice('moveCuredAllPeople')"
                          tooltip="Đánh dấu đã khỏi" placement="top" [ngStyle]="{'color': '#4dbd74'}"></i>
                      </div>
                      <div class="icon-option-checkBox" *ngIf="status == 'sick'" (click)="OptionPeopleModal.show()">
                        <i class="fas fa-skull-crossbones fa-lg" (click)="setOptionChoice('moveDiedAllPeople')"
                          tooltip="Đánh dấu đã chết" placement="top" [ngStyle]="{'color': '#000000'}"></i>
                      </div>
                      <div class="icon-option-checkBox" *ngIf="status != 'f1' && status != 'died'"
                        (click)="OptionPeopleModal.show()">
                        <i class="fas fa-house-user fa-lg" (click)="setOptionChoice('moveF1AllPeople')"
                          tooltip="Đánh dấu đang cách ly" placement="top" [ngStyle]="{'color': '#1d7fae'}"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf=" !listIdPeopleCheckbox.length > 0" class="col-md-11"
                  [ngStyle]="{'margin-top': '13px', 'height':'0px'}">
                  <h6>Có tất cả {{listPeople.length}} người</h6>
                </div>
              </div>
            </div>
            <div class="col-md-5 ">
              <div class="limit">
                <h6 class="show-limit">Show</h6>
                <select name="show" class="select-limit show-limit" (change)="showChoose($event.currentTarget.value)">
                  <option value="5" select>5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="0">Tất cả</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" [collapse]="isCollapsed">




          <div id="dnn_ContentPane" class="contentPane">
            <div class="DnnModule DnnModule-Viectimnguoi DnnModule-471">
              <div id="dnn_ctr471_ContentPane">
                <div id="" class="DNNModuleContent ModViectimnguoiC">
                  <div class="Invisible">
                    <div class="panelSearch changebg">
                      <div class="panel-box simple-search">
                        <dl class="row row1">
                          <dt class="col3">
                            <p>Nhập thên người bệnh:</p>
                            <input type="text" class="txtSearch" placeholder="Nhập tên người bệnh" />
                          </dt>
                          <dt class="col3">
                            <p>Nhập địa chỉ</p>
                            <input type="text" class="txtSearch" placeholder="Nhập địa chỉ" />
                          </dt>
                          <dt class="col2">
                            <p>Chọn nguồn lây</p>
                            <select id="Loai" class="txtSearch">
                              <option >Loại</option>
                              <option value="">Sau khi nhập cảnh</option>
                              <option value="">Lây lan trong nước</option>
                            </select>
                          </dt>
                          <dt class="col3">
                            <p>Chọn ngày sinh</p>
                            <input type="date" class="txtSearch" name="birthdaytime">
                          </dt>
                          <dt class="col5">
                            <br><br>
                            <input type="button" value="Tìm kiếm" id="btn-search" class="btnSeach btnSearch-extend" />
                          </dt>
                        </dl>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body" *ngIf="listPeople.length > 0">
                  <table class="table table-body-list">
                    <thead>
                      <tr>
                        <th [ngStyle]="{'width': '33px'}">
                          <input (change)="checkBoxValue($event)" [ngStyle]="{'width': '20px', 'height': '20px'}"
                            [checked]="isCheckedAllCheckBoxPeople" type="checkbox" name="checkBoxAllPeople">
                        </th>
                        <th *ngIf=" status != 'f1'"><strong>Bệnh nhân</strong></th>
                        <th><strong>Tên</strong></th>
                        <th><strong>Ngày sinh</strong></th>
                        <th><strong>Địa chỉ</strong></th>
                        <th><strong>Tình trạng</strong></th>
                        <th *ngIf="status != 'f1' && status != 'died'"><strong>Loại</strong></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listPeople | paginate: { itemsPerPage: itemsInPage, currentPage: p }">
                        <td><input (change)="checkBoxValue($event)" type="checkbox" name="people"
                            [checked]="isCheckedCheckBoxPeople" [value]="item.idPeople"></td>
                        <td *ngIf="status != 'f1'">BN{{item.idPeople}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.birthDay}}</td>
                        <td>{{item.nameProvince}}</td>
                        <td *ngIf="item.status == 'sick'">Đang điều trị</td>
                        <td *ngIf="item.status == 'f1'">Đang cách ly</td>
                        <td *ngIf="item.status == 'cured'">Đã khỏi bệnh</td>
                        <td *ngIf="item.status != 'f1'">{{item.type ? 'Lây nhiễm trong nước' : 'Sau khi nhập cảnh'}}
                        </td>
                        <td class="option-td">
                          <div class="btn-group" dropdown>
                            <button dropdownToggle class="option-btn">...</button>
                            <ul *dropdownMenu class="dropdown-menu dropdown" role="menu">
                              <li role="menuitem" data-toggle="modal" (click)="peopleDetailModel.show()">
                                <span class="dropdown-item" (click)="getPeopleDetail(item.idStatusByTime)">
                                  <i class="fa fa-eye"></i> Xem chi tiết
                                </span>
                              </li>
                              <li role="menuitem">
                                <span class="dropdown-item">
                                  <i class="fas fa-edit"></i> Sửa
                                </span>
                              </li>
                              <li role="menuitem" *ngIf="status == 'f1' || status == 'cured'"
                                (click)="OptionPeopleModal.show()">
                                <span class="dropdown-item" (click)="setOptionChoice('moveSickPeople',item.idPeople)">
                                  <i class="fas fa-head-side-cough" [ngStyle]="{'color': '#fe2e2e'}"></i>Bị bệnh
                                </span>
                              </li>
                              <li role="menuitem" *ngIf="status == 'sick'" (click)="OptionPeopleModal.show()">
                                <span class="dropdown-item" (click)="setOptionChoice('moveCuredPeople',item.idPeople)">
                                  <i class="fas fa-user-shield" [ngStyle]="{'color': '#4dbd74'}"></i>Đã khỏi
                                </span>
                              </li>
                              <li role="menuitem" *ngIf="status == 'sick'" (click)="OptionPeopleModal.show()">
                                <span class="dropdown-item" (click)="setOptionChoice('moveDiedPeople',item.idPeople)">
                                  <i class="fas fa-skull-crossbones" [ngStyle]="{'color': '#000000'}"></i>Đã chết
                                </span>
                              </li>
                              <li role="menuitem" *ngIf="status != 'f1' && status != 'died'"
                                (click)="OptionPeopleModal.show()">
                                <span class="dropdown-item" (click)="setOptionChoice('moveF1People',item.idPeople)">
                                  <i class="fas fa-house-user" [ngStyle]="{'color': '#1d7fae'}"></i>Cách ly
                                </span>
                              </li>
                              <li role="menuitem" data-toggle="modal" (click)="OptionPeopleModal.show()">
                                <span class="dropdown-item" (click)="setOptionChoice('deletePeople',item.idPeople)">
                                  <i class="fas fa-trash-alt"></i> Xóa
                                </span>
                              </li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="page" [ngStyle]="{'text-align': 'center'}">
                    <pagination-controls (pageChange)="p = $event" previousLabel="Trước" nextLabel="Tiếp theo">
                    </pagination-controls>
                  </div>
                </div>
                <!-- <div class="card-body" *ngIf="listPeople && listPeople.length <= 0">
                  <h4 class="">Không có ai !!!</h4>
                </div> -->
              </div>
            </div>
          </div>
        </div>

        <div bsModal #OptionPeopleModal="bs-modal" class="modal fade alert-model" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-danger" role="document">
            <div class="modal-content">
              <div class="modal-header" *ngIf="status == 'sick'">
                <h4 class="modal-title" *ngIf="optionChoice == 'deletePeople'">Xóa người bệnh này khỏi danh sách ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'deleteAllPeople'">Xóa tất cả những người được chọn khỏi
                  danh
                  sách ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveCuredPeople'">Đánh dấu người bệnh này đã được điều
                  trị khỏi
                  ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveCuredAllPeople'">Đánh dấu những người bệnh này đã
                  được điều
                  trị khỏi ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveDiedPeople'">Đánh dấu người bệnh này đã chết ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveDiedAllPeople'">Đánh dấu những người bệnh này đã
                  chết ?</h4>

                <h4 class="modal-title" *ngIf="optionChoice == 'moveF1People'">Chuyển người này sang khu cách ly ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveF1AllPeople'">Chuyển những người này sang khu cách
                  ly ?</h4>
              </div>
              <div class="modal-header" *ngIf="status == 'f1'">
                <h4 class="modal-title" *ngIf="optionChoice == 'deletePeople'">Xóa người này khỏi danh sách cách ly?
                </h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'deleteAllPeople'">Xóa tất cả những người được chọn này
                  khỏi danh
                  sách cách ly ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveSickPeople'">Đánh dấu người này bị bệnh ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveSickAllPeople'">Đánh dấu những người này bị bệnh?
                </h4>
              </div>
              <div class="modal-header" *ngIf="status == 'cured'">
                <h4 class="modal-title" *ngIf="optionChoice == 'moveSickPeople'">Đánh dấu người này bị bệnh ?</h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'moveSickAllPeople'">Đánh dấu những người này bị bệnh?
                </h4>
                <h4 class="modal-title" *ngIf="optionChoice == 'deletePeople'">Xóa người này khỏi danh sách ?</h4>
              </div>

              <div class="modal-header" *ngIf="status == 'died'">
                <h4 class="modal-title" *ngIf="optionChoice == 'deletePeople'">Xóa người này khỏi danh sách ?</h4>
              </div>
              <div class="modal-body" *ngIf="status == 'sick'">
                <p> Nếu xóa bệnh nhân này thì sẽ xóa hết các
                  trường hợp f1 có liên quan đến bệnh nhân khỏi danh sách.</p>
              </div>
              <div>
                <div class="modal-footer" [ngStyle]="{'text-align': 'center'}">
                  <div>
                    <button type="button" class="btn btn-secondary" (click)="OptionPeopleModal.hide()">Hủy</button>
                    <button type="button" class="btn btn-danger"
                      *ngIf="optionChoice == 'deletePeople' ||optionChoice == 'deleteAllPeople'"
                      (click)="deletePeople()">Xác nhận
                    </button>
                    <button type="button" class="btn btn-danger"
                      *ngIf="optionChoice == 'moveCuredPeople' ||optionChoice == 'moveCuredAllPeople'"
                      (click)="moveCuredPeople()">Xác nhận
                    </button>
                    <button type="button" class="btn btn-danger"
                      *ngIf="optionChoice == 'moveF1People' ||optionChoice == 'moveF1AllPeople'"
                      (click)="moveF1People()">Xác nhận
                    </button>
                    <button type="button" class="btn btn-danger"
                      *ngIf="optionChoice == 'moveSickPeople' ||optionChoice == 'moveSickAllPeople'"
                      (click)="moveSickPeople()">Xác nhận
                    </button>
                    <button type="button" class="btn btn-danger"
                      *ngIf="optionChoice == 'moveDiedPeople' ||optionChoice == 'moveDiedAllPeople'"
                      (click)="moveDiedPeople()">Xác nhận
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div bsModal #peopleDetailModel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Thông tin chi tiết</h4>
                <button type="button" class="close" (click)="peopleDetailModel.hide()" aria-label="Close">
                  <span aria-hidden="true">x</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row" *ngIf="peopleDetail.status == 'sick'">
                  <p class="col-md-2 col-xs-2 col-lg-2 ">Bệnh nhân :</p>
                  <p><strong>BN{{peopleDetail.idPeople}}</strong></p>
                </div>
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="Container row ">
                      <p class="col-md-3 col-xs-3 col-lg-3 ">Tên :</p>
                      <p><strong>{{peopleDetail.name}}</strong></p>
                    </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="Container row ">
                      <p class="col-md-4 col-xs-4 col-lg-4 ">Ngày sinh :</p>
                      <p><strong>{{peopleDetail.birthDay}}</strong></p>
                    </div>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="Container row ">
                      <p class="col-md-6 col-xs-6 col-lg-6 ">Giới tính :</p>
                      <p><strong>{{peopleDetail.name ? 'Nam' : 'Nữ'}}</strong></p>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="peopleDetail.phone.length ==10">
                  <p class="col-md-2 col-xs-2 col-lg-2 ">Số điện thoại :</p>
                  <p><strong>{{peopleDetail.phone}}</strong></p>
                </div>
                <div class="row">
                  <p class="col-md-2 col-xs-2 col-lg-2">Địa chỉ:</p>
                  <p [ngStyle]="{'margin-left': '-48px'}"><strong>{{peopleDetail.commune}}</strong></p>
                  <p>, <strong>{{peopleDetail.district}}</strong></p>
                  <p>, <strong>{{peopleDetail.province}}</strong></p>
                </div>
                <div class="row">
                  <p class="col-md-4 col-xs-4 col-lg-4">Lịch trình di chuyển:</p>
                  <div class="col-md-12 col-xs-12 col-lg-12" [ngStyle]="{'margin-top': '-14px'}">
                    <div class="container people-detail-schedule">
                      <p class="col-md-12 col-xs-12 col-lg-12">{{peopleDetail.travelSchedule}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <p class="col-md-3 col-xs-3 col-lg-3 " *ngIf="peopleDetail.status == 'sick'">Ngày nhập viện :</p>
                  <p class="col-md-3 col-xs-3 col-lg-3 " *ngIf="peopleDetail.status == 'f1'">Ngày cách ly :</p>
                  <p class="col-md-3 col-xs-3 col-lg-3 " *ngIf="peopleDetail.status == 'cured'">Ngày xuất viện :</p>
                  <p class="col-md-3 col-xs-3 col-lg-3 " *ngIf="status == 'died'">Ngày chết :</p>
                  <p [ngStyle]="{'margin-left': '-48px'}"><strong>{{peopleDetail.updatedAt | date:'MM/dd/yyyy' :
                      'ICT'}}</strong>
                  </p>
                </div>
                <div class="row" *ngIf="status != 'died'">
                  <p class="col-md-2 col-xs-2 col-lg-2 ">Tình trạng :</p>
                  <p *ngIf="peopleDetail.status == 'sick'"><strong>Đang điều trị</strong></p>
                  <p *ngIf="peopleDetail.status == 'f1'"><strong>Đang cách ly</strong></p>
                  <p *ngIf="peopleDetail.status == 'cured'"><strong>Đã khỏi</strong></p>
                </div>
                <div class="row" *ngIf="peopleDetail.status != 'f1' && status!= 'died'">
                  <p class="col-md-2 col-xs-2 col-lg-2 ">Loại : </p>
                  <p><strong>{{peopleDetail.type ? 'Lây nhiễm trong nước' : 'Sau khi nhập cảnh'}}</strong></p>
                </div>
                <div class="row" *ngIf="peopleDetail.type">
                  <p class="col-md-2 col-xs-2 col-lg-2 ">Nguồn lây : </p>
                  <p><strong>BN{{peopleDetail.idSource}} - {{peopleDetail.nameSource}}</strong></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="peopleDetailModel.hide()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>