<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div>
                <div class="top-home-img">
                  <img src="../assets/img/avatars/4.png" alt="banner">
                </div>
                <div id="content-top-home">
                  <h3>Bộ trưởng Bộ Y tế kêu gọi nhà khoa học "hiến kế" giải pháp chống dịch COVID-19 hiệu quả</h3>
                  <p>Tư lệnh ngành Y tế kêu gọi các nhà khoa học lĩnh vực sức khoẻ đề xuất những giải pháp và hành động
                    thiết thực, khả thi và hiệu quả với chi phí hợp lý, quyết tâm cùng cả nước chiến thắng đại dịch
                    COVID-19.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="dropdown">
                <button class="dropbtn">Dành cho học sinh</button>
                <div class="dropdown-content">
                  <a href="#">Tại nhà hàng ngày</a>
                  <a href="#">Tại trường hàng ngày</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Dành cho trường học</button>
                <div class="dropdown-content">
                  <a href="#">Khi học sinh bị ho, sốt, khó thở</a>
                  <a href="#">Vệ sinh và khử khuẩn</a>
                  <a href="#">Tại trường Mầm non</a>
                  <a href="#">Tại trường Tiểu học và THCS</a>
                  <a href="#">Tại trường THPT và Đại học</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Dành cho khách hàng tham gia phương tiện giao thông công cộng</button>
                <div class="dropdown-content">
                  <a href="#">Đối với ban quản lý/người quản lý PTCC</a>
                  <a href="#">Đối với người điều khiển phương tiện và người phục vụ</a>
                  <a href="#">Đối với hành khách</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Dành cho chưng cư</button>
                <div class="dropdown-content">
                  <a href="#">Đối với ban quản lý/Ban quản trị/Ban đại diện</a>
                  <a href="#">Đối với người dân</a>
                  <a href="#">Đối với nguời quản lý khu nhà/chung cư cho thuê, người cho thuê căn hộ chung cư</a>
                  <a href="#">Vệ sinh, khử khuẩn tại chung cư, khu tập thê, khu nhà/chung cư cho thuê</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="center-home">
                <div class="disease-data">
                  <table>
                    <tr id="header-table">
                      <th>Tỉnh/TP</th>
                      <th>Tổng số ca </th>
                      <th>Hôm nay </th>
                      <th>Tử vong</th>
                    </tr>
                    <tr>
                      <td>TP. Hồ Chí Minh</td>
                      <td>232.600</td>
                      <td id="number-today">0</td>
                      <td>9.724</td>
                    </tr>
                    <tr>
                      <td>TP. Hồ Chí Minh</td>
                      <td>232.600</td>
                      <td id="number-today">0</td>
                      <td>9.724</td>
                    </tr>
                    <tr>
                      <td>TP. Hồ Chí Minh</td>
                      <td>232.600</td>
                      <td id="number-today">0</td>
                      <td>9.724</td>
                    </tr>
                    <tr>
                      <td>TP. Hồ Chí Minh</td>
                      <td>232.600</td>
                      <td id="number-today">0</td>
                      <td>9.724</td>
                    </tr>
                    <tr>
                      <td>TP. Hồ Chí Minh</td>
                      <td>232.600</td>
                      <td id="number-today">0</td>
                      <td>9.724</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="portlet">
                <div class="form-group row ">
                  <div class="col-md-6 col-sm-6 ">
                    <h2>TIN TỨC</h2>
                    <hr>
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                    <h2 class="text-header-top-news">Ổ dịch mới nhất ở Hà Nội thêm 4 ca COVID-19, Thủ đô phát hiện 26 ca
                      mới
                      trong buổi sáng đầu tiên kỳ nghỉ lễ 2/9</h2>
                    <p class="fs-13 text-muted mb-0">
                      <span class="mr-2">Thứ năm, 02/09/2021, 13:33 </span>
                    </p>
                    <p>Ổ dịch ở phường Thanh Xuân Nam, quận Thanh Xuân vừa ghi nhận thêm 4 ca dương tính mới, đều ở ngõ
                      477 Nguyễn Trãi.</p>
                  </div>
                  <div class="col-md-6 col-sm-6 ">
                    <h2>DIỄN BIẾN DỊCH</h2>
                    <hr>
                    <div class="epidemic-evolution">
                      <img src="../assets/img/avatars/icon.png" class="icon" alt="banner">
                      <div class="text-epidemic">
                        <div class="text-headding">
                          <h5>18:25 02/09/2021</h5>
                        </div>
                        <div class="text-content">
                          <p id="text-headding-content">THÔNG BÁO VỀ 13.197 CA MẮC MỚI </p>
                          <p id="content-epidemic">Trong đó 11 ca nhập cảnh và 13.186 ca ghi nhận trong
                            nước
                            tại TP. Hồ Chí Minh (5.963), Bình Dương (4.504), Đồng Nai (803), Long An
                            (583),
                            Tiền Giang (290), Kiên Giang (122), Đồng Tháp (102), Bình Phước (70), Nghệ
                            An
                            (66), Tây Ninh (62),
                            Khánh Hòa (58), Bà Rịa - Vũng Tàu (57), Quảng Bình (56), An Giang (51),
                            Thanh
                            Hóa (50), Hà Nội (48),
                            Đà Nẵng (42), Cần Thơ (42), Bình Thuận (34), Đắk Lắk (34), Thừa Thiên Huế
                            (25),
                            Bình Định (20), Quảng Ngãi (19), Sóc Trăng (13), Cà Mau (11), Bạc Liêu (8 ),
                            Bến
                            Tre (8 ), Trà Vinh (7),
                            Lạng Sơn (6), Phú Yên (6), Vĩnh Long (5), Quảng Nam (4), Đắk Nông (4), Bắc
                            Ninh
                            (3), Bắc Giang (3),
                            Ninh Thuận (2), Nam Định (2), Hậu Giang (2), Thái Bình (1) trong đó có 7.255
                            ca
                            trong cộng đồng.
                          </p>
                          <p id="content-epidemic">- Như vậy trong 24h giờ qua số ca nhiễm ghi nhận trong
                            nước
                            tăng 1.757 ca. Tại TP. Hồ Chí Minh tăng 595 ca, Bình Dương tăng 1.064 ca,
                            Đồng
                            Nai tăng 44 ca,
                            Long An giảm 11 ca, Tiền Giang tăng 96 ca.</p>
                          <p id="content-epidemic">* Tình hình dịch COVID-19 tại Việt Nam:</p>
                          <p id="content-epidemic">- Kể từ đầu dịch đến nay Việt Nam có 486.727 ca nhiễm,
                            đứng
                            thứ 55/222 quốc gia và vùng lãnh thổ, trong khi với tỷ lệ số ca nhiễm/1
                            triệu
                            dân,
                            Việt Nam đứng thứ 161/222 quốc gia và vùng lãnh thổ (bình quân cứ 1 triệu
                            người
                            có 4.951 ca nhiễm).</p>
                          <p id="content-epidemic">- Đợt dịch thứ 4 (từ ngày 27/4/2021 đến nay):</p>
                          <p id="content-epidemic">+ Số ca nhiễm mới ghi nhận trong nước là 482.497 ca,
                            trong
                            đó có 256.550 bệnh nhân đã được công bố khỏi bệnh.</p>
                          <p id="content-epidemic">+ Có 10/62 tỉnh, thành phố đã qua 14 ngày không ghi
                            nhận
                            trường hợp nhiễm mới trong nước: Quảng Ninh, Bắc Kạn, Tuyên Quang, Lai Châu,
                            Hoà
                            Bình, Yên Bái, Hà Giang, Thái Nguyên, Điện Biên, Vĩnh Phúc.</p>
                          <p id="content-epidemic">+ Có 05 tỉnh, thành phố không có ca lây nhiễm thứ phát
                            trên
                            địa bàn trong 14 ngày qua: Thái Bình, Hải Phòng, Phú Thọ, Kon Tum, Hà Nam.
                          </p>
                          <p id="content-epidemic">+ 05 tỉnh, thành phố ghi nhận số mắc cao là TP. Hồ Chí
                            Minh
                            (232.585), Bình Dương (122.732), Đồng Nai (25.328), Long An (23.221), Tiền
                            Giang
                            (10.136).</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- main-panel ends -->