<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div>
                <div class="top-home-img">
                  <img src="../assets/img/avatars/4.png" alt="banner">
                </div>
                <div id="content-top-home">
                  <h3>Bộ trưởng Bộ Y tế kêu gọi nhà khoa học "hiến kế" giải pháp chống dịch COVID-19 hiệu quả</h3>
                  <p>Tư lệnh ngành Y tế kêu gọi các nhà khoa học lĩnh vực sức khoẻ đề xuất những giải pháp và hành động
                    thiết thực, khả thi và hiệu quả với chi phí hợp lý, quyết tâm cùng cả nước chiến thắng đại dịch
                    COVID-19.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="dropdown">
                <button class="dropbtn">Dành cho học sinh</button>
                <div class="dropdown-content">
                  <a href="#">Tại nhà hàng ngày</a>
                  <a href="#">Tại trường hàng ngày</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Dành cho trường học</button>
                <div class="dropdown-content">
                  <a href="#">Khi học sinh bị ho, sốt, khó thở</a>
                  <a href="#">Vệ sinh và khử khuẩn</a>
                  <a href="#">Tại trường Mầm non</a>
                  <a href="#">Tại trường Tiểu học và THCS</a>
                  <a href="#">Tại trường THPT và Đại học</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Dành cho khách hàng tham gia phương tiện giao thông công cộng</button>
                <div class="dropdown-content">
                  <a href="#">Đối với ban quản lý/người quản lý PTCC</a>
                  <a href="#">Đối với người điều khiển phương tiện và người phục vụ</a>
                  <a href="#">Đối với hành khách</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="dropbtn">Dành cho chưng cư</button>
                <div class="dropdown-content">
                  <a href="#">Đối với ban quản lý/Ban quản trị/Ban đại diện</a>
                  <a href="#">Đối với người dân</a>
                  <a href="#">Đối với nguời quản lý khu nhà/chung cư cho thuê, người cho thuê căn hộ chung cư</a>
                  <a href="#">Vệ sinh, khử khuẩn tại chung cư, khu tập thê, khu nhà/chung cư cho thuê</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="container total_items">
                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item item-sick" >
                    <p class="text">SỐ CA NHIỄM</p>
                    <p class="value">{{totalInternalCase| number}}</p>
                    <p class="note">Hôm nay <span class="note"> +{{todayInternalCase| number}}</span></p>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item item-cured" >
                    <p class="text">KHỎI</p>
                    <p class="value">{{totalInternalCured| number}}</p>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 item item-died" >
                    <p class="text">TỬ VONG</p>
                    <p class="value">{{totalInternalDeath| number}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="center-home">
                <div class="disease-data">
                  <table>
                    <tr id="header-table">
                      <th>Tỉnh/TP</th>
                      <th>Tổng số ca</th>
                      <th>Hôm nay</th>
                      <th>Tử vong</th>
                    </tr>
                    <tr *ngFor="let item of listCountPeopleByProvinces">
                      <td>{{item.name}}</td>
                      <td>{{item.cases| number}}</td>
                      <td [ngStyle]="{'color': 'red'}">+{{item.casesToday| number}}</td>
                      <td>{{item.death| number}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="portlet">
                <div class="form-group row ">
                  <div class="col-md-6 col-sm-6 ">
                    <h2>TIN TỨC</h2>
                    <hr>
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                    <h2 class="text-header-top-news">Ổ dịch mới nhất ở Hà Nội thêm 4 ca COVID-19, Thủ đô phát hiện 26 ca
                      mới
                      trong buổi sáng đầu tiên kỳ nghỉ lễ 2/9</h2>
                    <p class="fs-13 text-muted mb-0">
                      <span class="mr-2">Thứ năm, 02/09/2021, 13:33 </span>
                    </p>
                    <p>Ổ dịch ở phường Thanh Xuân Nam, quận Thanh Xuân vừa ghi nhận thêm 4 ca dương tính mới, đều ở ngõ
                      477 Nguyễn Trãi.</p>
                  </div>
                  <div class="col-md-6 col-sm-6 ">
                    <h2>DIỄN BIẾN DỊCH</h2>
                    <hr>
                    <div *ngFor="let item of listSituation| paginate: { itemsPerPage: 3, currentPage: p }"
                         class="epidemic-evolution">
                      <!--                      <img src="../assets/img/avatars/icon.png" class="icon" alt="banner">-->
                      <div class="text-epidemic">
                        <div class="text-headding">
                          <h5>{{item.updatedAt}}</h5>
                        </div>
                        <div class="text-content" innerHtml="{{item.content}}"></div>
                      </div>
                    </div>
                    <div class="page" [ngStyle]="{'text-align': 'center'}">
                      <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                                           nextLabel="Tiếp theo"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- main-panel ends -->
