<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
              <div class="form-gap"></div>
              <div class="container">
                <div class="row">
                  <div class="col-md-5 col-md-offset-5">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="text-center">
                          <h3><i class="fa fa-lock fa-4x"></i></h3>
                          <h2 class="text-center">Quên mật khẩu?</h2>
                          <p>Bạn có thể thiết lập lại mật khẩu của bạn ở đây.</p>
                          <div class="panel-body">
                            <form [formGroup]="formEmail" class="form" (ngSubmit)="summitEmail()">
                              <div class="form-group" [ngStyle]="{'margin-bottom':'38px'}">
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-envelope color-blue"></i>
                                  </span>
                                  <input id="email" name="email" [formControlName]="'email'"
                                         (change)="checkEmail()"
                                         [ngClass]="checkEmail() ? 'is-invalid' : ''"
                                         placeholder="Nhập email đã đăng ký" class="form-control"
                                         type="email">
                                  <div class="invalid-feedback" *ngIf="checkEmail()">
                                    Nhập sai địa chỉ email !!!
                                  </div>
                                </div>
                              </div>
                              <div class="form-group-email">
                                <button type="submit"
                                        [ngStyle]="{'cursor': formEmail.invalid? 'no-drop' : 'pointer'}" [disabled]="formEmail.invalid"
                                        class="btn btn-lg btn-primary btn-block">Tiếp tục</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="box-ddn">
                <span class="box-text">Đường dây nóng</span><br>
                <h2>19009095</h2>
              </div>
              <div class="box-phone">
                <img id="img-box" src="../assets/img/avatars/3.png" alt="banner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-panel ends -->
