.modal-body p{
    padding-right: 4%;
    color: red;
    margin-bottom: 0rem;
    float: left;
}
.modal-body input{
    width: 350px;
    height: 30px;
    float: right;
    margin-right: 29%;
}

.modal-body{
    margin-left: 13%;
}
select#Loai {
    width: 120px;
    height:30px;
    float: right;
    margin-right: 64%;
}
