<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
              <div class="epidemic-evolution"
                   *ngFor="let item of listSituation| paginate: { itemsPerPage: 5, currentPage: p }">
                <img src="./assets/img/avatars/icon.png" class="icon" alt="banner">
                <div class="text-epidemic">
                  <div class="text-headding">
                    <h5>{{item.updatedAt}}</h5>
                  </div>
                  <div class="text-content" innerHtml="{{item.content}}"></div>
                </div>
              </div>

              <div class="page" [ngStyle]="{'text-align': 'center'}">
                <pagination-controls (pageChange)="p = $event" previousLabel="Trước"
                                     nextLabel="Tiếp theo"></pagination-controls>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="box-ddn">
                <span class="box-text">Đường dây nóng</span><br>
                <h2>19009095</h2>
              </div>
              <div class="box-phone">
                <img id="img-box" src="./assets/img/avatars/3.png" alt="banner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-panel ends -->
