<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Thêm diễn biến dịch</strong>

        </div>
        <form id="form_dangtin" class="form-horizontal" [formGroup]="situationForm" (ngSubmit)="createSituation()">
          <div class="card-body situation">
            <div class="form-group">

              <ckeditor class="ckeditor-style" [formControlName]="'content'" [editor]="Editor"></ckeditor>
            </div>

          </div>
          <div class="card-footer">
            <button type="submit"  [disabled]="situationForm.invalid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Thêm</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
