@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.form-gap {
  padding-top: 70px;
}
.box-ddn {
  text-align: center;
  background-color: #2a3477;
  height: 120px;
  width: 100%;
  padding-top: 28px;
  color: white;
  margin-bottom: 5%;
}
.box-text {
  font-size: 14px;
  color: yellow;
  padding-bottom: 10px;
}
#img-box {
  width: 100%;
  height: 250px;
}
.row {
  margin-right: -15px;
  margin-left: -11%;
  margin-bottom: 3%;
  width: 1080px;
  padding-left: 20%;
}
.form-group-email {
  width: 170px;
  margin-left: 22%;
}
input#email {
  height: 50px;
}
.input-group {
  height: 50px;
}
input.btn.btn-lg.btn-primary.btn-block {
  font-size: 15px;
}
a.nav-link {
  color: white;
  font-size: 16px;
  padding: 1px;
}
input#password {
  margin-bottom: 4%;
}

input#pwd {
    width: 205px;
    height: 35px;
    font-size: 15px;
    border: 3px solid #E0E0E0;
}
.container-form {
    margin-top: 3%;
}
button.eye{
    background: white;
    width: 20px;
    margin-left: -11%;
    border: 0px solid white;
}
button.eye :hover{
    border: 0px solid white;
}