<div class="content-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-gap"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5 col-md-offset-5">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <h3><i class="fa fa-unlock fa-4x"></i></h3>
                                                    <h2 class="text-center">Lấy lại mật khẩu?</h2>
                                                    <p>Bạn có thể đặt lại mật khẩu của bạn ở đây.</p>
                                                    <div class="panel-body">
                                                        <form [formGroup]="formCheckPass" (ngSubmit)="submitPass()"
                                                            id="submit-password" role="form" autocomplete="off"
                                                            class="form" method="post">
                                                            <div class="form-group">

                                                                <div class="form-group input-group">
                                                                    <input type="password"
                                                                        class="form-control form-control-lg rounded-0"
                                                                        placeholder="Mật khẩu mới"
                                                                        [formControlName]="'password'" id="newpass" />
                                                                    <a class="text-dark" id="icon-clicknew">
                                                                        <i class="fa fa-eye-slash" id="iconnew"></i>
                                                                    </a>
                                                                </div>

                                                                <div class="form-group input-group">
                                                                    <input type="password"
                                                                        class="form-control form-control-lg rounded-0"
                                                                        placeholder="Nhắc lại mật khẩu"
                                                                        [formControlName]="'checkPassword'"
                                                                        id="comfirmpass" />
                                                                    <a class="text-dark" id="icon-clickconfirm">
                                                                        <i class="fa fa-eye-slash" id="iconconfirm"></i>
                                                                    </a>
                                                                </div>
                                                                <p *ngIf="isCheckPass" >mat khau ko ging nhau</p>
                                                            </div>
                                                            <div class="form-group-email">
                                                                <button type="submit"
                                                                    [ngStyle]="{'cursor': formCheckPass.invalid? 'no-drop' : 'pointer'}"
                                                                    [disabled]="formCheckPass.invalid"
                                                                    class="btn btn-lg btn-primary btn-block">Xong</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box-ddn">
                                <span class="box-text">Đường dây nóng</span><br>
                                <h2>19009095</h2>
                            </div>
                            <div class="box-phone">
                                <img id="img-box" src="../assets/img/avatars/3.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-panel ends -->
