<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="content-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">

                            <div class="form-gap"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="text-center">
                                                    <h3><i class="fa fa-unlock fa-4x"></i></h3>
                                                    <h2 class="text-center">Lấy lại mật khẩu?</h2>
                                                    <p>Bạn có thể đặt lại mật khẩu của bạn ở đây.</p>
                                                    <div class="panel-body">
                                                        <form id="submit-password" role="form" autocomplete="off"
                                                            class="form" method="post">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <input id="password" name="password"
                                                                        placeholder="Nhập mật khẩu" class="form-control"
                                                                        type="password">
                                                                    <input id="comfirmpassword" name="comfirmpassword"
                                                                        placeholder="Nhắc lại mật khẩu" class="form-control"
                                                                        type="comfirmpassword">
                                                                </div>
                                                            </div>
                                                            <div class="form-group-email">
                                                                <button type="submit" class="btn btn-lg btn-primary btn-block"><a class="nav-link" [routerLink]="['/client']" >Xong</a></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box-ddn">
                                <span class="box-text">Đường dây nóng</span><br>
                                <h2>19009095</h2>
                            </div>
                            <div class="box-phone">
                                <img id="img-box" src="../assets/img/avatars/3.png" alt="banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-panel ends -->