.box-ddn{
    text-align:center;
    background-color: #2A3477;
    height: 120px;
    width: 100%;
    padding-top: 28px;
    color: white;
    margin-bottom: 5%;
}
.box-text{
    font-size:14px;
    color: yellow;
    padding-bottom: 10px;
}
#img-box{
    width: 100%;
    height: 250px;
}
.card .card-body {
    padding: 2rem 2% 0 2rem;
}
#container-text{
    margin-left: 30%;
    padding-top: 8%;
}
.form-group {
    margin-bottom: 2rem;
}
button.btn.btn-success {
    width: 170px;
    height: 40px;
    background-color: #0190F3;
    font-size: 16px;
    border-radius: 20px;
}
#confirm{
    color: red;
    padding-left: 50%;
}
.ortext{
    padding: 5px 0 0 44%;
}
.social-media{
    padding-left: 49%;
    margin-bottom: 6%;
}
.social-media li a {
    padding: 0px;
}
.text_botton span{
    color:red;
}
.btn.btn-success:hover{
    background-color: #4867AA;
}
a.nav-link {
    color: white;
    padding-top: 2px;
}