<!-- Start Khai bao y te -->
<div class="content-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="text_header_health">
                                <h2 style="padding-left: 38%;">TỜ KHAI Y TẾ</h2>
                                <p style="padding-left: 15%; font-size:18px; color: red;">Khuyến cáo: Khai báo thông tin
                                    sai là vi phạm pháp luật Việt Nam và có thể bị xử lý hình sự.</p>
                            </div>
                            <div class="conten_health">
                                <div class="col-md-12 ">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <br />
                                            <form class="form-horizontal form-label-left">

                                                <div class="form-group row ">
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Họ và tên <span
                                                                id="text_input_health">*</span> </label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Số CMT/CCCD/Hộ
                                                            chiếu <span id="text_input_health">*</span> </label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-md-12 col-sm-12 ">
                                                            <label class="control-label col-md-12 col-sm-12 ">Giới
                                                                tính</label>
                                                            <select class="form-control">
                                                                <option></option>
                                                                <option>Nam</option>
                                                                <option>Nữ</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Mã số
                                                            BHXH</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Ngày sinh<span
                                                                id="text_input_health">*</span> </label>
                                                        <input type="date" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Quốc tịch<span
                                                                id="text_input_health">*</span> </label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                </div>

                                                <div class="form-group row ">
                                                    <div class="col-md-4 col-sm-4">
                                                        <label class="control-label col-md-12 col-sm-12 ">Chọn
                                                            Tỉnh/Thành phố <span id="text_input_health">*</span></label>
                                                        <select class="form-control">
                                                            <option>Choose option</option>
                                                            <option>Hà Nội</option>
                                                            <option>Lào Cai</option>
                                                            <option>Điện Biên</option>
                                                            <option>Sơn La</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <label class="control-label col-md-12 col-sm-12 ">Chọn
                                                            Quận/Huyện <span id="text_input_health">*</span></label>
                                                        <select class="form-control">
                                                            <option>Choose option</option>
                                                            <option>Ba Đình</option>
                                                            <option>Cầu Giấy</option>
                                                            <option>Mỹ Đình</option>
                                                            <option>Sóc Sơn</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <label class="control-label col-md-12 col-sm-12 ">Chọn Xã/Phường
                                                            <span id="text_input_health">*</span></label>
                                                        <select class="form-control">
                                                            <option>Choose option</option>
                                                            <option>Dịch Vọng</option>
                                                            <option>Dịch Vọng Hậu</option>
                                                            <option>Nghĩa Tân</option>
                                                            <option>Trung Hoà</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-8 col-sm-8 ">
                                                        <label class="control-label col-md-12 col-sm-12">Số nhà/đường
                                                            <span id="text_input_health">*</span></label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                </div>
                                                <div class="form-group row ">
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Số điện thoại
                                                            <span id="text_input_health">*</span></label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 ">
                                                        <label class="control-label col-md-12 col-sm-12">Email</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Default Input">
                                                    </div>
                                                </div>
                                                <h5 style="text-align:center;">Trong vòng 14 ngày (tính đến thời điểm
                                                    làm thủ tục xuất cảnh, nhập cảnh, quá cảnh) Anh/Chị có thấy xuất
                                                    hiện dấu hiệu nào sau đây không? <span
                                                        id="text_input_health">(*)</span></h5>

                                                <div class="form-group row">
                                                    <div class="col-md-9 col-sm-9 ">
                                                        <div id="form-health">

                                                        </div>
                                                        <table style="width:100%">
                                                            <tr>
                                                                <th>Triệu chứng</th>
                                                                <th id="text-table">Có</th>
                                                                <th id="text-table">Không</th>
                                                            </tr>
                                                            <tr>
                                                                <td>Sốt</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Fever1"
                                                                            id="optionsRadios1" name="Fever">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Fever2"
                                                                            id="optionsRadios2" name="Fever">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ho</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Cough1"
                                                                            id="optionsRadios1" name="Cough">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Cough2"
                                                                            id="optionsRadios2" name="Cough">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Khó thở</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Shortness_of_breath1"
                                                                            id="optionsRadios1"
                                                                            name="Shortness_of_breath">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Shortness_of_breath"
                                                                            id="optionsRadios2"
                                                                            name="Shortness_of_breath">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Đau họng</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Sore_throat1"
                                                                            id="optionsRadios1" name="Sore_throat">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Sore_throat2"
                                                                            id="optionsRadios2" name="Sore_throat">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Nôn/Buồn nôn</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Nausea1"
                                                                            id="optionsRadios1" name="Nausea">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Nausea2"
                                                                            id="optionsRadios2" name="Nausea">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Tiêu chảy</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Diarrhea1"
                                                                            id="optionsRadios1" name="Diarrhea">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Diarrhea2"
                                                                            id="optionsRadios2" name="Diarrhea">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Xuất huyết ngoài da</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Hemorrhage1"
                                                                            id="optionsRadios1" name="Hemorrhage">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Hemorrhage2"
                                                                            id="optionsRadios2" name="Hemorrhage">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Nổi ban ngoài da</td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Skin_rash1"
                                                                            id="optionsRadios1" name="Skin_rash">
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <label>
                                                                        <input type="radio" value="Skin_rash2"
                                                                            id="optionsRadios1" name="Skin_rash">
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-9 col-sm-9  offset-md-5">
                                                        <button type="submit" class="btn btn-success">Gửi tờ khai</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end khai bao y te -->