<div class="navbar-top">
  <div class="img-logo">
    <img src="../assets/img/logo1.png" alt="">
  </div>
  <div class="navbar-headding">
      <h4 id="boyte">BỘ Y TẾ</h4>
      <h5 id="comfirm">TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19</h5>
  </div>
</div>
<header id="header">
    <div class="container">
      
      <nav class="navbar navbar-expand-lg navbar-light">
       
        <div class="navbar-bottom">
          <div class="d-flex justify-content-between align-items-center">
            
            <div>
              <button
                class="navbar-toggler"
                type="button"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div
                class="navbar-collapse justify-content-center collapse"
                id="navbarSupportedContent"
              >
                <ul
                  class="navbar-nav d-lg-flex justify-content-between align-items-center"
                >
                  <li>
                    <button class="navbar-close">
                      <i class="mdi mdi-close"></i>
                    </button>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/client']" >Home</a>
                    <!-- <a class ="nav-link" href="#">Home</a> -->
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/client/epidemic-evolution']" >Epidemic Evolution</a>
                  
                    <!-- <a class="nav-link" href="#/client/epidemic-evolution">Epidemic Evolution</a> -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/client/news']" >News</a>
                    <!-- <a class="nav-link" href="#/client/news">News</a> -->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/client/register-phone-number']" >Health Declaration</a>
                    <!-- <a class="nav-link" href="#/client/health-declaration">Health Declaration</a> -->
                  </li>
                  
                </ul>
              </div>
            </div>
            <ul class="social-media">
              <li>
                <a href="#">
                  <i class="mdi mdi-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-youtube"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="mdi mdi-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>