<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Covid-19</h4>
<!--          <div class="small text-muted">November 2017</div>-->
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
            <label class="btn btn-outline-secondary" (click)="onStatisticsChange(radioModel.valueOf())" [(ngModel)]="radioModel" btnRadio="Day" id="option1">Day</label>
            <label class="btn btn-outline-secondary" (click)="onStatisticsChange(radioModel.valueOf())" [(ngModel)]="radioModel" btnRadio="Month" id="option2">Month</label>
            <label class="btn btn-outline-secondary" (click)="onStatisticsChange(radioModel.valueOf())" [(ngModel)]="radioModel" btnRadio="Year" id="option3">Year</label>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
      <div class="chart-wrapper" style="height:300px;margin-top:40px;">
          <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="'line'"></canvas>
      </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-4 mb-0">
          <div class="text-muted">KHỎI BỆNH</div>
          <strong>{{staticalTotalPeopleByCured}} Người</strong>

        </div>
        <div class="col-sm-12 col-md mb-sm-4 mb-0">
          <div class="text-muted">BỆNH NHÂN</div>
          <strong>{{staticalTotalPeopleBySick}} Người</strong>

        </div>
        <div class="col-sm-12 col-md mb-sm-4 mb-0">
          <div class="text-muted">TỬ VONG</div>
          <strong>{{staticalTotalPeopleByDied}} Người</strong>

        </div>

      </div>
    </div>
  </div>
</div>
