<div class="content-wrapper">
  <div class="container">
    <div class="col-sm-12">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-9">
              <div>
                <div class="img-top-news">
                  <img src="../assets/img/avatars/1.png" alt="banner">
                </div>
                <h2 class="text-header-top-news">Ổ dịch mới nhất ở Hà Nội thêm 4 ca COVID-19, Thủ đô phát hiện 26 ca mới
                  trong buổi sáng đầu tiên kỳ nghỉ lễ 2/9</h2>
                <p class="fs-13 text-muted mb-0">
                  <span class="mr-2">Thứ năm, 02/09/2021, 13:33 </span>
                </p>
              </div>
              <div id="container-text-news">
                <div class="form-group row ">
                  <div class="col-md-2 col-sm-2 ">
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10 ">
                    <div id="content-news">
                      <h5 class="title-content-new">Sáng 2/9: Sốt, ho, mệt mỏi, 3 người ở Hà Nội bất ngờ dương tính, Thủ đô thêm 5 ca mới</h5>
                      <p class="fs-12 text-muted mb-0">
                        <span class="mr-1">Thứ năm, 02/09/2021, 13:33 </span>
                      </p>
                      <p class="content-news">
                        Ba người gồm một bé gái, một người phụ nữ ở Đống Đa và một nam thanh niên ở Thanh Xuân có triệu chứng sốt, ho, mệt mỏi, đi khám, khai báo y tế và bất ngờ dương tính SARS-CoV-2 sau khi lấy mẫu xét nghiệm.
                      </p>

                    </div>
                  
                  </div>
                </div>
                <div class="form-group row ">
                  <div class="col-md-2 col-sm-2 ">
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10 ">
                    <div id="content-news">
                      <h5 class="title-content-new">Sáng 2/9: Sốt, ho, mệt mỏi, 3 người ở Hà Nội bất ngờ dương tính, Thủ đô thêm 5 ca mới</h5>
                      <p class="fs-12 text-muted mb-0">
                        <span class="mr-1">Thứ năm, 02/09/2021, 13:33 </span>
                      </p>
                      <p class="content-news">
                        Ba người gồm một bé gái, một người phụ nữ ở Đống Đa và một nam thanh niên ở Thanh Xuân có triệu chứng sốt, ho, mệt mỏi, đi khám, khai báo y tế và bất ngờ dương tính SARS-CoV-2 sau khi lấy mẫu xét nghiệm.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group row ">
                  <div class="col-md-2 col-sm-2 ">
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10 ">
                    <div id="content-news">
                      <h5 class="title-content-new">Sáng 2/9: Sốt, ho, mệt mỏi, 3 người ở Hà Nội bất ngờ dương tính, Thủ đô thêm 5 ca mới</h5>
                      <p class="fs-12 text-muted mb-0">
                        <span class="mr-1">Thứ năm, 02/09/2021, 13:33 </span>
                      </p>
                      <p class="content-news">
                        Ba người gồm một bé gái, một người phụ nữ ở Đống Đa và một nam thanh niên ở Thanh Xuân có triệu chứng sốt, ho, mệt mỏi, đi khám, khai báo y tế và bất ngờ dương tính SARS-CoV-2 sau khi lấy mẫu xét nghiệm.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group row ">
                  <div class="col-md-2 col-sm-2 ">
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10 ">
                    <div id="content-news">
                      <h5 class="title-content-new">Sáng 2/9: Sốt, ho, mệt mỏi, 3 người ở Hà Nội bất ngờ dương tính, Thủ đô thêm 5 ca mới</h5>
                      <p class="fs-12 text-muted mb-0">
                        <span class="mr-1">Thứ năm, 02/09/2021, 13:33 </span>
                      </p>
                      <p class="content-news">
                        Ba người gồm một bé gái, một người phụ nữ ở Đống Đa và một nam thanh niên ở Thanh Xuân có triệu chứng sốt, ho, mệt mỏi, đi khám, khai báo y tế và bất ngờ dương tính SARS-CoV-2 sau khi lấy mẫu xét nghiệm.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group row ">
                  <div class="col-md-2 col-sm-2 ">
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10 ">
                    <div id="content-news">
                      <h5 class="title-content-new">Sáng 2/9: Sốt, ho, mệt mỏi, 3 người ở Hà Nội bất ngờ dương tính, Thủ đô thêm 5 ca mới</h5>
                      <p class="fs-12 text-muted mb-0">
                        <span class="mr-1">Thứ năm, 02/09/2021, 13:33 </span>
                      </p>
                      <p class="content-news">
                        Ba người gồm một bé gái, một người phụ nữ ở Đống Đa và một nam thanh niên ở Thanh Xuân có triệu chứng sốt, ho, mệt mỏi, đi khám, khai báo y tế và bất ngờ dương tính SARS-CoV-2 sau khi lấy mẫu xét nghiệm.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group row ">
                  <div class="col-md-2 col-sm-2 ">
                    <div class="image-content">
                      <img id="img-content" src="../assets/img/avatars/2.png" alt="banner">
                    </div>
                  </div>
                  <div class="col-md-10 col-sm-10 ">
                    <div id="content-news">
                      <h5 class="title-content-new">Sáng 2/9: Sốt, ho, mệt mỏi, 3 người ở Hà Nội bất ngờ dương tính, Thủ đô thêm 5 ca mới</h5>
                      <p class="fs-12 text-muted mb-0">
                        <span class="mr-1">Thứ năm, 02/09/2021, 13:33 </span>
                      </p>
                      <p class="content-news">
                        Ba người gồm một bé gái, một người phụ nữ ở Đống Đa và một nam thanh niên ở Thanh Xuân có triệu chứng sốt, ho, mệt mỏi, đi khám, khai báo y tế và bất ngờ dương tính SARS-CoV-2 sau khi lấy mẫu xét nghiệm.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="pagination">
                  <ul class="pagination-buttons pager">
                    <li>Truoc</li>
                    <li>Tiep theo</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
             <div class="box-ddn">
               <span class="box-text">Đường dây nóng</span><br>
               <h2>19009095</h2>
             </div>
             <div class="box-phone">
              <img id="img-box" src="../assets/img/avatars/3.png" alt="banner">
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-panel ends -->