<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-1 filter-icon">
                  <i class="fa fa-filter fa-lg mt-4" [ngStyle]="{ 'float': 'right', 'cursor': 'pointer'}"
                     tooltip="Tìm kiếm." placement="top" (click)="isCollapsed = !isCollapsed"></i>
                </div>
                <div class="col-md-11" *ngIf=" listIdAccountCheckbox.length > 0"
                     [ngStyle]="{'margin-top': '13px', 'height':'0px'}">

                </div>
                <div *ngIf=" !listIdAccountCheckbox.length > 0" class="col-md-11"
                     [ngStyle]="{'margin-top': '13px', 'height':'0px'}">
                  <h6 *ngIf="!(nameAccount==null)">Có tất cả {{listDeclare.length}} lần khai báo
                    của {{nameAccount}} </h6>
                  <h6 *ngIf="(nameAccount==null)">Có tất cả {{listDeclare.length}} lần khai báo </h6>
                </div>
              </div>
            </div>
            <div class="col-md-5 ">
              <div class="limit">
                <h6 class="show-limit">Show</h6>
                <select name="show" class="select-limit show-limit" (change)="showChoose($event.currentTarget.value)">
                  <option value="5" select>5</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="0">Tất cả</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!--        <div class="card-body" [ngStyle]="{'padding': '15px'}" [collapse]="isCollapsed">-->
        <!--          <div id="dnn_ContentPane" class="contentPane">-->
        <!--            <div class="DnnModule DnnModule-Viectimnguoi DnnModule-471">-->
        <!--              <div id="dnn_ctr471_ContentPane">-->
        <!--                <div id="" class="DNNModuleContent ModViectimnguoiC">-->
        <!--                  <div class="Invisible">-->
        <!--                    <div class="panelSearch changebg">-->
        <!--                      <div class="panel-box simple-search">-->
        <!--                      </div>-->
        <!--                    </div>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="card-body" *ngIf="listDeclare.length > 0">
          <table class="table table-body-list">
            <thead>
            <tr>
              <th><strong>Stt</strong></th>
              <th><strong>Tên</strong></th>
              <th><strong>Số điện thoại</strong></th>
              <th><strong>Thời gian khai báo</strong>
                <button type="button" (click)="sort()"><i class="fas fa-sort"></i></button>
              </th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listDeclare | paginate: { itemsPerPage: itemsInPage, currentPage: p }">
              <td>{{item.stt}}</td>
              <td>{{item.name}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.updateAt}}</td>
              <td class="option-td">
                <div class="btn-group" dropdown>
                  <button dropdownToggle class="option-btn">...</button>
                  <ul *dropdownMenu class="dropdown-menu dropdown" role="menu">

                    <li role="menuitem" data-toggle="modal" (click)="questionDetailModel.show()">
                       <span class="dropdown-item" (click)="getDeclareDetail(item.questionId)">
                                 <i class="fa fa-eye"></i> Xem chi tiết
                          </span>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="page" [ngStyle]="{'text-align': 'center'}">
            <pagination-controls (pageChange)="p = $event" previousLabel="Trước" nextLabel="Tiếp theo">
            </pagination-controls>
          </div>
        </div>
        <div class="card-body" *ngIf="listDeclare && listDeclare.length <= 0">
          <h4 class="">Không có khai báo nào !!!</h4>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #questionDetailModel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông tin chi tiết</h4>
        <button type="button" class="close" (click)="questionDetailModel.hide()" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="Container row ">
              <p class="col-md-3 col-xs-3 col-lg-3 ">Tên :</p>
              <p><strong>{{declareRequest.name}}</strong></p>
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="Container row ">
              <p class="col-md-4 col-xs-4 col-lg-4 ">Ngày sinh :</p>
              <p><strong>{{declareRequest.birthDay}}</strong></p>
            </div>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="Container row ">
              <p class="col-md-6 col-xs-6 col-lg-6 ">Giới tính :</p>
              <p><strong>{{declareRequest.gender ? 'Nam' : 'Nữ'}}</strong></p>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="col-md-2 col-xs-2 col-lg-2 ">Số điện thoại :</p>
          <p><strong>{{declareRequest.phone}}</strong></p>
        </div>
        <div class="row">
          <p class="col-md-2 col-xs-2 col-lg-2">Địa chỉ:</p>
          <p [ngStyle]="{'margin-left': '-48px'}"><strong>{{declareRequest.communeName}}</strong></p>
          <p>, <strong>{{declareRequest.districtName}}</strong></p>
          <p>, <strong>{{declareRequest.provinceName}}</strong></p>
        </div>
        <div class="row" *ngIf="declareRequest.cmt.length > 0 && declareRequest.cmt!= null">
          <p class="col-md-3 col-xs-3 col-lg-3 ">CMT/CCCD :</p>
          <p [ngStyle]="{'margin-left': '-48px'}"><strong>{{declareRequest.cmt}}</strong>
          </p>
        </div>
        <div class="row"
             *ngIf="checkTravel()">
          <P class="col-md-3 col-xs-3 col-lg-3">Trong vòng 14 ngày có :</P>
          <ul>
            <li *ngIf="declareRequest.exposureToF0"><strong>Có tiếp xúc với trường hợp bệnh hoặc nghi ngờ mắc bệnh COVID
              - 19</strong></li>
            <li *ngIf="declareRequest.comeBackFromEpidemicArea"><strong>Có đi từ vùng dịch COVID-19</strong></li>
            <li *ngIf="declareRequest.contactWithPeopleReturningFromEpidemicAreas"><strong>Có tiếp xúc với các trường
              hợp đi về từ vùng dịch</strong></li>
          </ul>
        </div>
        <div class="row" *ngIf="!checkTravel()">
          <P class="col-md-6 col-xs-6 col-lg-6"><strong>Trong vòng 14 ngày không đi từ vùng dịch về.</strong></P>
        </div>
        <div class="row" *ngIf="declareRequest.travelSchedule!=null">
          <p class="col-md-4 col-xs-4 col-lg-4">Lịch trình di chuyển:</p>
          <div class="col-md-12 col-xs-12 col-lg-12" [ngStyle]="{'margin-top': '-14px'}">
            <div class="container people-detail-schedule">
              <p class="col-md-12 col-xs-12 col-lg-12">{{declareRequest.travelSchedule}}</p>
            </div>
          </div>
        </div>
        <div class="row"
             *ngIf="checkSymptom()">
          <P class="col-md-6 col-xs-6 col-lg-6">Trong vòng 14 ngày có xuất hiện triệu chứng :</P>
          <ul>
            <li *ngIf="declareRequest.fever"><strong>Sốt</strong></li>
            <li *ngIf="declareRequest.cough"><strong>Ho</strong></li>
            <li *ngIf="declareRequest.shortnessOfBreath"><strong>Khó thở</strong></li>
            <li *ngIf="declareRequest.pneumonia"><strong>Viêm phổi</strong></li>
            <li *ngIf="declareRequest.soreThroat"><strong>Đau họng</strong></li>
            <li *ngIf="declareRequest.tired"><strong>Mệt mỏi</strong></li>
          </ul>
        </div>
        <div class="row" *ngIf="!checkSymptom()">
          <P class="col-md-8 col-xs-8 col-lg-8"><strong>Trong vòng 14 ngày không xuất hiện triệu chứng nào.</strong></P>
        </div>

        <div class="row"
             *ngIf="checkSickCurrent()">
          <P class="col-md-3 col-xs-3 col-lg-3">Hiện tại đang bị bệnh:</P>
          <ul>
            <li *ngIf="declareRequest.chronicLiverDisease"><strong>Bệnh gan mãn tính</strong></li>
            <li *ngIf="declareRequest.chronicBloodDisease"><strong>Bệnh máu mãn tính</strong></li>
            <li *ngIf="declareRequest.chronicLungDisease"><strong>Bệnh phổi mãn tính</strong></li>
            <li *ngIf="declareRequest.chronicKideyDisease"><strong>Bệnh thận mãn tính</strong></li>
            <li *ngIf="declareRequest.heartRelatedDiseaes"><strong>Bệnh tim mạch</strong></li>
            <li *ngIf="declareRequest.highBloodPressure"><strong>Huyết áp cao</strong></li>
            <li *ngIf="declareRequest.hivOrImmunocompromised"><strong>HIV hoặc suy giảm miễn dịch</strong></li>
            <li *ngIf="declareRequest.organTransplantRecipient"><strong> Người nhận ghép tạng, tủy xương</strong></li>
            <li *ngIf="declareRequest.diabetes"><strong> Tiểu đường></strong></li>
            <li *ngIf="declareRequest.cancer"><strong> Ung thư</strong></li>
            <li *ngIf="declareRequest.pregnant"><strong> Có thai</strong></li>
          </ul>
        </div>
        <div class="row" *ngIf="!checkSickCurrent()">
          <P class="col-md-6 col-xs-6 col-lg-6"><strong>Hiện tại không bị bệnh nào.</strong></P>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="questionDetailModel.hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
