footer .footer-top {
  padding: 0px;
}
img{
  width: 220px;
  height: 215px;
  margin-top: -10%;
}
.col-sm-9 {
  margin-left: -4%;
  padding-top: 2%;
}
p {
  margin-bottom: 0rem;
}
.row {
  padding-bottom: 5%;
}
