<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="img-logo">
            <img src="../assets/img/logo1.png" alt="">
          </div>
        </div>
        <div class="col-sm-9">
          <h6>
            QUẢN LÝ NỘI DUNG: BÁO SỨC KHỎE VÀ ĐỜI SỐNG - CƠ QUAN NGÔN LUẬN CỦA BỘ Y TẾ
          </h6>
          <p>Địa chỉ: Số 138A Giảng Võ - Quận Ba Đình - TP. Hà Nội</p>
          <p>Đường dây nóng: 19009095 </p>
          <p>Email: covid19@suckhoedoisong.vn</p>
        </div>
      </div>
    </div>
  </div>
</footer>
